<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPy Bot</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loader.css')}}">
</head>

<body>
    <header>
        <div class="row">
            <div class="col" id="logo">
                <h1>GrandPy <span>Bot</span></h1>
            </div>
            <div class="col-8" id="catchphrase">
                <p>Le papy robot</p>
            </div>
        </div>
    </header>
    <div class="container">
      <div class="row" id="form">
          <div class="col">
              <h2>Posez votre question</h2>
              <hr />
              <form><textarea class="form-control" name="user_data"></textarea></form>
          </div>
      </div>
    </div>
    <footer>
        <p>Philippe Sorignon - <a href="https://github.com/PhilippeSorignon">GitHub</a></p>
    </footer>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <script type="text/javascript">
    $(document).on('keypress',function(e) {
      if(e.which == 13) {

       $.ajax({
            url: '/api',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
              console.log(response);
               $('#form').load("{{url_for('static', filename='html/loader.html')}}");
               setTimeout(function (){

                  $('#form').load("/map?adress="+response['adress']+"&wiki="+response['wiki']);

                }, 2000);

            },
            error: function(error) {
                console.log(error);
            }
        });
      }
      });
    </script>
</body>

</html>
